<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.bongda"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="10" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".service.BongDaApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        <activity
            android:name=".MainSplashActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SplashActivity"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".X1Activity" >
        </activity>
        <activity android:name=".X2Activity" >
        </activity>
        <activity android:name=".X3Activity" >
        </activity>
        <activity android:name=".X4Activity" >
        </activity>
        <activity
            android:name=".X5Activity"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".PhongDoCacDoiActivity"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".group.X1GroupActivity" >
        </activity>
        <activity android:name=".group.X2GroupActivity" >
        </activity>
        <activity android:name=".group.X3GroupActivity" >
        </activity>
        <activity android:name=".group.X4GroupActivity" >
        </activity>
        <activity android:name=".group.MActivity" >
        </activity>
        <activity
            android:name=".NhanDinhChuyenGiaActivity"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".GameDuDoanActivity"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MayTinhDuDoanActivity"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"
            android:screenOrientation="portrait" >
        </activity>

        <service
            android:name=".service.BongDaService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name="com.app.bongda.vl.X1VLayoutActivity"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.app.bongda.vl.X2VLayoutActivity"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.app.bongda.vl.X3VLayoutActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.app.bongda.vl.X4VLayoutActivity"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".SettingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".CreateAccountActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
    </application>

</manifest>